$carousel-move-btn-size: 80px;
@mixin zero-padding-margin {
    margin: 0;
    padding: 0;
}
@mixin scale-up {
    transform: scale(1.2);
    transition: 0.3s;
}

section.container {
    width: 900px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

#js-test-carousel {
    position: absolute;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    @include zero-padding-margin;
    width: 2800px; // number of elem. X width of the single elem.
}

ul li {
    width: 700px;
    height: 500px;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 0;
}

li img {
    @include zero-padding-margin;
}

.js-carousel-move-btn {
    font-size: 40px;
    width: $carousel-move-btn-size;
    height: $carousel-move-btn-size;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.js-carousel-move-btn:hover {
    @include scale-up;
}

.js-carousel-counter-container {
    font-size: 30px;
    color: red;
    width: 100%;
    position: absolute;
    text-align: center;
}

.js-carousel-counter-container #js-carousel-slide-counter {
    margin: 0 5px;
}
